<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/leaflet/dist/leaflet.css">
    <title>Sistem Informasi Geografis</title>
</head>
<body>
    <div class="container py-5 h-screen bg-gray-800 text-white" id="dashboard">
        
        <div class="flex h-full">
            
            <!-- Side Bar -->
            <div class="w-1/6 px-5 border-e-4 border-slate-600">
                
                <!-- Head Sidebar -->
                <div class="flex gap-5 items-center">
                    <img src="../static/assets/earth.png" alt="" class="w-4/12">
                    <h1 class="text-xl font-bold">Sistem Informasi Geografis</h1>
                </div>

                <!-- Menu -->
                <div class="pt-5">
                    <ul class="text-lg font-semibold">
                        <li class="mb-5 pb-1 border-b-2 border-white"><a href="">Dashboard</a></li>
                        <li class="pb-1 border-b-2 border-white"><a href="">Kategori Daerah</a></li>
                    </ul>
                </div>

                <div class="mt-10 pb-4">
                    <a href="" class="py-3 px-5 border border-white">Login</a>
                </div>
            </div>

            <!-- Main Content -->
            <div class="w-full px-5">
                <div class="flex gap-5 justify-center py-4">
                    <h1 class="text-4xl font-medium">Peta Kota Samarinda</h1>
                    <img src="../static/assets/maps.png" class="w-1/12" alt="">
                </div>

                <!-- Maps -->
                <div class="p-5 relative flex gap-5 justify-center items-center">
                    
                    <!-- Canvas Maps -->
                    <div id="map" class="w-full h-[600px] z-0"></div>
                    
                    <!-- Option Cluster -->
                    <div class="absolute px-10 py-5 bg-slate-800 w-1/4 right-10 border-8 border-white rounded-xl">
                        <div class="mb-10 w-1/2 mx-auto">
                            <p class="px-3 py-2 border border-white text-center">Data Cluster</p>
                        </div>
                        <div class="w-1/2">
                            <ul>
                                <li><button onclick="Cluster(1)" class="px-3 py-2 mb-2 border border-white hover:bg-slate-600">Cluster 1</button></li>
                                <li><button onclick="Cluster(2)" class="px-3 py-2 mb-2 border border-white hover:bg-slate-600">Cluster 2</button></li>
                                <li><button onclick="Cluster(3)" class="px-3 py-2 mb-2 border border-white hover:bg-slate-600">Cluster 3</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- {% for i in cluster1 %}
                <p>{{i}}</p>
                {% endfor %} -->
                <p id="data"></p>
            </div>
        </div>
    </div>

    <script src="../static/leaflet/dist/leaflet.js"></script>
    <!-- <script src="../static/js/maps.js"></script> -->

    <script>
        var map = L.map('map').setView([-0.487605005885925, 117.17065147526995], 12.5);
        
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
        
        var greenIcon = L.icon({
            iconUrl: 'leaf-green.png',
            shadowUrl: 'leaf-shadow.png',
        
            iconSize:     [38, 95], // size of the icon
            shadowSize:   [50, 64], // size of the shadow
            iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
            shadowAnchor: [4, 62],  // the same for the shadow
            popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
        });
        
        function Cluster(number){
            if(number == 1) {
                let koor = '{{cluster1}}';

                // let koor = [['Eko', 8, 10],['Bayu', 9, 0]]
                Point(koor);
            }else if (number == 2) {
                let koor = [[-0.4676238154165759, 117.15395441923752],[-0.46003763132158393, 117.13969192610878],[-0.4526335079174855, 117.15616965733356]];
                Point(koor);
            } else {
                let koor = [[-0.4828568481993843, 117.1612373945145],[-0.4901092163901253, 117.1634222871049],[-0.4783354934377312, 117.17179770876412]];
                Point(koor);
            }
        }
        
        function Point(koor){
            // for(let i = 0; i < koor.length; i++){
            //     // marker = L.marker(koor[i]).addTo(map);
    
            //     // document.getElementById('data').innerHTML = koor;
            //     // console.log(koor)
            // }
            document.getElementById('data').innerHTML = koor;
            console.log(koor)
        }
    </script>
</body>
</html>